*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #090b0c;
    box-shadow: 10px 10px 10px black;
    font-family: sans-serif;
}
body{
    
    background-color: transparent;
    color: white;
}
body::selection{
    background-color: #00ff9132;
    color: #66fec6;
}
header{
    position: fixed;
    width: 100%;
    top: 0%;
}
nav{
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5px 120px;
    backdrop-filter: blur(15px);

}
.logo>img{
    height: 50px;
    cursor: pointer;
}
.navBTNs>span{
    margin: 0 12px;
    cursor: pointer;
    padding: 12px;
    border-radius: 20px;
}
.navBTN:hover{
    background-color: #80808056;
    color: #ffffff;
    transition: all 0.3s;

}
.logSignup{
    font-weight:500;
    margin-right: 28px;
}
.logSignup>span{
    cursor: pointer;
}
.signin,.download{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius:49px ;
    
}
.signin:hover{
    background-color: #171717;
}
.download{
    background-color: white;
    color: black;
}

.bgimage{
    position: absolute;
    top: 0;
    left: 0;
    height: 130%;
    width: 100%;
    object-fit: cover;
    z-index: -10;
   
}
main{
    margin-top: 80px;
     
}
.herodata{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topline{
    border: 1px solid white;
    padding: 9px 2px;
    margin: 20px;
    font-weight: 600;
    border-radius: 20px;
    background-color: #ffffff32;
    font-size: small;
}
.new{
    border-radius: 20px;
    padding: 8px;
    background-color: #0c8c5e;
    margin-right: 5px;
}
.topdata{
    padding: 0 5px;
    margin: 0 4px;
}
.middata{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.largedata{
    text-align: center;
    width: 70%;
    font-size: 45px;
}
.smalldata{
    width: 70%;
    margin: 30px;
    text-align: center;
    font-size: 18px;
}
.bottomemail{
    border: 1px solid;
    padding: 5px;
    border-radius: 20px;
     background-color: #ffffff32;
}
.email{
    width: 250px;
    height: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}
.email::placeholder{
    color: white;
}
.emailBtn{
    border: none;
    background-color: white;
    padding:5px 10px;
    font-size: medium;
    border-radius: 20px;
}
.heroimage{
    width: 100%;
     margin-top: 40px;
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroimage>img{
   border-radius: 5px;
}


.trsutedby{
     margin-top: 80px;
     padding: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
  
}
.trsutedby>img{
    height: 220px;
    width: 100%;
    object-fit: contain;
}

.features{
    margin-top: 40px;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topfeaturedata{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.largefeaturetext{
    font-size: 45px;
    margin: 15px;
}
.smallfeaturetext{
    font-size: 20px;
}
.middlecards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.midcard{
    width: 450px;
    border: 1px solid #d5d5d550;
    padding: 15px;
    margin: 12px;
    border-radius: 25px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    width: 80%;
}
.topic{
    font-size: medium;
    color: #24d4d4;
    margin: 5px;
}
.title{
    font-size: 22px;
    margin: 15px 0;
}
.data{
    color: #a5a5a5;
}
.image>img{
    height: 280px;
}

.lowwercard{
    width: 70%;
    border: 1px solid #d5d5d550;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 550px;
}
.lowdata{
    width: 50%;
}
.lowimage>img{
    height: 380px;
}

.enterprise{
    margin-top: 40px;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #151616;
}
.nameenterprise{
    
    width: 60%;
    font-size: 35px;
    margin: 15px 5px;
}
.left,.right{
    margin: 0 25px;
}
.firsttop{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.right>.text{
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    color: black;
}
.second{
    display: flex;
    width: 60%;
    margin-top: 40px;
}
.second>div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.thirdimage{
    display: flex;
    width: 60%;
    margin-top: 40px;
    background: url("./assets/enterpriseimage.jpeg");
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
}
.enterprisetopdata{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 80px 0;
}
.enterprisetopdata>.customer{
    font-size: small;
    font-weight: 400;
}
.enterprisetopdata>.lowtitle{
    margin-top: 10px;
    font-size: 20px;
    width: 45%;
}
.enterprisetopdata>.read{
    margin-top: 20px;
}
.enterpriselowerdata{
    display: flex;
    width: 50%;
    margin-bottom: 30px;
}
.mil>.head{
    font-size: xx-large;
}
.mil>.subtext{
    color: #b2b2b2;
}
.mil{
    width: 50%;
}
.fourthcommapnies{
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourthcommapnies>img{
    width: 70%;
}



.customersknowledge{
     margin-top: 40px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #08090a;
    border-bottom: 1px solid #34343498;
}
.topcustomerdata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.topcustomerdata>span:first-child{
    font-size: smaller;
    font-weight: 700;
}
.topcustomerdata>.title{
    font-size: 40px;
    font-weight: 600;
}
.topcustomerdata>.data{
    
    width: 80%;
}

.midcustomercards{
    display: flex;
    margin-top: 60px;
}
.customerCard{
    width: 400px;
    margin: 40px;
}
.customerCard>.image{
height: 300px;
width: 450px;

}

.customerCard>.zero{
    background: url("./assets/perplexity.png") no-repeat ;

}
.customerCard>.one{
    background: url("./assets/x.png") no-repeat ;

}
.customerCard>.two{
    background: url("./assets/kalshi.png") no-repeat ;

}

.customerCard>.image{
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 25px 0;
}
.image>.logo{
    height: 50px;
}
.readstory:hover{
    color: #02e18f;
    cursor: pointer;

}
.alldata{
margin: 8px 0;
margin-bottom: 25px;

}
.fa-chevron-right{
    scale: 0.8;
}


.bottomcustomerdemo{
   
    margin-top: 60px;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.documentdata{
        display: flex;  
    justify-content: center;
    align-items: center;
     flex-direction: column;
}
.docdata{
    width: 50%;
    font-size: 40px;
    font-weight: 600;
    margin: 28px;
}
.customerbtns{
    display: flex;
    margin: 25px;
}
.customerbtns>div{
    margin: 20px;
    border: 2px solid #5f5f5f;
    padding: 8px 20px;
    border-radius: 20px;
}
.customerbtns>.getstarted{
    background-color: white;
    color: black;
}
.pricingbuilding{
    display: flex;
    margin-top: 15px;
}
.pricingbuilding>div{
    padding: 80px;
}

.pricingdata{
    margin-top: 35px;
}
.pricinglargedata{

    margin: 15px 0;
    font-size: larger;
}
.pricestory{
    margin-top: 25px;
}
.line{
    border: 1px solid #55555546;
    width: 0%;
    padding: 0;
    margin: 45px;
}




footer{
    padding: 0 90px;
    background-color: #151616;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 75%;
    border: 1px solid #2a2a2a;
    padding: 50px 0;
    height: 100%;
}
.topfooter{
    padding: 15px 13px ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #2a2a2a;
}
.socials>i{
    scale: 1.5;
    margin: 5px;
    color: gray;
}
.socials>i:hover{
    color: #bdbdbd;
}


.navigationsection{
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #2a2a2a;
}
.navigationcontainers{
    width: 250px;
    display: flex;
    flex-direction: column;
}
.navigationcontainers>p{
    margin: 8px;
}
.profession{
    color: gray;
    font-weight: 600;
}
.backedby{
    font-weight: 600;
    padding: 40px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #2a2a2a;
}
.backedby>img{
    height: 80px;
}
.lowerfooter{
    padding: 40px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.system{
    padding: 3px 13px;
    width: max-content;
    border-radius: 18px;
    background-color: #8080809a;
}
.system>.readstory{
    color:#24d4d4;
}
.mode{
    
    border: 1px solid #8080809a;
    border-radius: 20px;
    background-color: #5f5f5f75;
}
.mode>i{
    color: #d5d5d5;
    padding: 5px 15px;
}
.mode>i:first-child{
    color: white;
     border-radius: 20px;
    border: 1px solid gray ;
    background-color:  #0c0c0c;
}
