*{
    margin: 0;
    padding: 0;
}
html,body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    cursor: default;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body::selection{
    background-color: #ffffff6d;
    color: black;
}
header{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 30px;

}
.logo>img{
    height: 50px;
    cursor: pointer;
}
.navBTNs>span{
    margin: 0 12px;
    cursor: pointer;
}
.navBTN:hover{
    color: #b8b8b8;

}

.logSignup>span{
    margin: 0 8px;
    cursor: pointer;
}
.signin,.download{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius:49px ;
    
}
.signin:hover{
    background-color: #171717;
}
.download{
    background-color: white;
    color: black;
}

.headline{
    
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    margin-top: 80px;
}
.windows,.headlinetext{
    
    margin-left: 50px;
}

.headlinetext{
    width: 50%;
    font-weight: 700;
    font-size: xx-large;
}
.windows{
    padding: 15px;
    font-weight: 600;
}
.downloadlogo{
    margin: 0 8px;
    height: 20px;
}
.largeproduct{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.trustedby{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trustedlogos{
    margin-top: 14px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.trustedlogo{
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    background-color: #110f0e;
    border: 1px solid #201f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trustedlogo>img{
    height: 50px;
}

.Feature{
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}
.featurescolumn{
    padding: 25px;
    margin: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1c1a1a;

}
.featurescolumn>div{
    margin: 0 15px;
}
.textcol{
width: 30%;
font-weight: 500;
font-size: x-large;
}
.imagecol{
    width: 70%;
}
.imagecol>img{
    width: 100%;
}
.learn{
    margin-top: 30px;
    font-size: medium;
    color: orangered;
}


.Testimonials{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Testimonialsline{
    font-size: larger;
    font-weight: 400;
    margin-bottom: 15px;
}
.Testimonialscards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}
.testimoncard{
    border: 1px solid #1c1a1a;
    background-color: #171717;
    padding: 20px;
    border-radius: 8px;
    width: 330px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.testimonuser{
    display: flex;
}
.testimoimage{
    height: 40px;
    margin: 0 8px;
}
.profession{
    color: #727272;
}

.frontier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
}
.frontierline{
    margin: 15px;
    margin-left: 70px;
    font-size: x-large;
}
.frontiercards{
    width: 95%;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
.frontiercards>div{
    border: #1c1a1a;
    border-radius: 8px;
    background-color: #171717;
    padding: 10px;
    margin: 10px;
width: 400px;
}
.frotierData{
    padding: 10px;
}
.frontierImage{
    margin-top: 30px;
}

.changelog{
    margin-top: 80px;
    padding: 20px;
}

.changelogline{
        margin: 15px;
    margin-left: 50px;
    font-size: x-large;

}
.see{
    font-size: small;
}
.changelogcards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.changelogcard{
width: 280px;
height: 80px;
    padding: 15px;
    border-radius: 8px;
    background-color: #110f0e;
    border: 1px solid #151515;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.ratingdate{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rate{
    margin-right: 8px;
}

.Team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
}
.Team>div:first-child{
    margin-left: 50px;
}
.teamimage{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.teamimage>img{
    border-radius: 8px;
}
.highlights{
    margin-top: 80px;
    padding: 20px;
    display: flex;
    background-color: #1c1a1a;
}
.highlightline{
    width: 20%;
    margin-top: 40px;
    margin-left: 25px;
}
.highlightcards{
    width: 70%;
}
.highlightcard{
    width: 550px;
    height: 90px;
    margin: 15px;
    padding: 15px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Final{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.block{
    margin-top: 10px;
    padding: 10px;
}
.blockline{
    font-size: 70px;
}

footer{
    height: 370px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navigationsection{
    padding: 25px;
    display: flex;
    justify-content: flex-start;
}
.navigationcontainers{
    width: 250px;
    display: flex;
    flex-direction: column;
}
.navigationcontainers>p{
    margin: 5px;
}

.copyrightsection{
    width: 95%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    display: flex;
}
.copyright>p{
    margin: 5px;
}
.btnss{
    display: flex;

}
.btnss>div{
    margin: 8px;
}
.mode{
    width: 100px;
    border: 2px solid white;
    border-radius: 18px;
    background-color: #2b2a2a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.mode>span:first-child{
    background-color: #151515;
    border: 1px solid;
    padding:3px 8px;
    border-radius: 18px;
}
.modeimg{
    height: 20px;
}
.lang{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #201f1f;
background-color: #201f1f;
border-radius: 20px;
}
.lang>span{
    margin: 5px;
}